<div class="container">

    <div class="text-center"><h1>Employee Management System</h1></div>
    <a href="/emp/add-emp" class="btn btn-danger btn-block">Add Employee</a>
    <a href="/emp/show-all-emp" class="btn btn-success btn-block">Show Employee</a>
    <a href="/emp/update-all-emp" class="btn btn-info btn-block">Update Employee</a>
    <a href="/emp/delete-all-emp" class="btn btn-danger btn-block">Delete</a>
</div>